asgiref==3.4.1
Django==3.2
imageio==2.15.0
networkx==2.6.3
numpy==1.22.2
packaging==21.3
Pillow==9.0.0
pycodestyle==2.8.0
pyparsing==3.0.7
pytz==2021.3
PyWavelets==1.2.0
scikit-image==0.19.1
scipy==1.8.0
sqlparse==0.4.2
tifffile==2022.2.9
toml==0.10.2
torch==1.10.2
torchvision==0.11.3
typing_extensions==4.0.1
